body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.5;
	font: normal 18px/1.5 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
}

#wrapper {
	width: 100%;
}

.button {
	margin-top: 15px;
	height: 76px;
	width:90%;
	display: inline-block;
	text-decoration: none;
	color: #771a33;
	background-size: 100% 100%;
}

.smallButton {
	margin-top: 15px;
	height: 76px;
	width:99px;
	display: inline-block;
	text-decoration: none;
	color: #771a33;
	background-size: 100% 100%;
}
.trackNameBox {
	background-color:#FFFFFF;
	width:90%;
	margin: 0 auto;
	color: #771a33;
	font-size:22px;
	font-weight: bold;
	margin-top: 80px;
}

.playButtonContainer {
	margin: 0 auto;
	width:90%;
	margin-top: 30px;
}

#track1 {
	background-image:url(../img/Track1-inaktiv.png);
}

#track1.tapped {
	background-image:url(../img/Track1-aktiv.png);
	
}

#track2 {
	background-image:url(../img/Track2-inaktiv.png);
}

#track2.tapped {
	background-image:url(../img/Track2-aktiv.png);
}

#track3 {
	background-image:url(../img/Track3-inaktiv.png);
}

#track3.tapped {
	background-image:url(../img/Track3-aktiv.png);
}

#track4 {
	background-image:url(../img/Track4-inaktiv.png);
}

#track4.tapped {
	background-image:url(../img/Track4-aktiv.png);
}

#track5 {
	background-image:url(../img/Track5-inaktiv.png);
}

#track5.tapped {
	background-image:url(../img/Track5-aktiv.png);	
}

#track6 {
	background-image:url(../img/Track6-inaktiv.png);
}

#track6.tapped {
	background-image:url(../img/Track6-aktiv.png);	
}

#about-silke {
	background-image:url(../img/about-silke-inaktiv.png);
}

#about-silke.tapped {
	background-image:url(../img/about-silke-aktiv.png);
}

#playButton {
	background-image:url(../img/StartButton-inaktiv.png);
}

#playButton.tapped {
	background-image:url(../img/StartButton-aktiv.png);
}

#pauseButton {
	background-image:url(../img/PauseButton-inaktiv.png);
}

#pauseButton.tapped {
	background-image:url(../img/PauseButton-aktiv.png);
}

#stopButton {
	background-image:url(../img/stopButton-inaktiv.png);
}

#stopButton.tapped {
	background-image:url(../img/stopButton-aktiv.png);
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin-bottom: 10px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}

/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}